@CHARSET "ISO-8859-1";
.myButton{
	background-color: yellow;
	color: red;
}
.layoutStyle {
	margin-left :400px;
	margin-top: 200px;
	
}

.barMenu {
	background-color: #009DE0;
    border-radius: 5px;
}
.barMenu *> td{
	padding:5px;
}
.barMenu *> button {
    margin: 5px;
}